.lmj-banner {
	color: black;
	text-align: right;
	padding: 5px;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	background-color: orange;
	opacity: 0.8;
	box-shadow: 2px 2px 2px ;
}

.lmj-title {
	padding-right: 32px;
}

.lmj-logo {
	height: 25%;
	width: 25%;
}